@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i');


html {
  height: 100%;
  width: 100%;
}

body {
  background-color:#d2b48c ;
}

h1 .text-color {
  text-color:#d19d13;
  font-family: Futura ;
  font-size: 18px ;
  padding-bottom: 2px;
}

.wrapper {
  width:auto;
  margin:auto;
}

.light-background {
  background-color:#ffebcd;
  color:#8b4513;
}

header, div, h5,
main, div, h2, h3, p, ul, li, .text-center {
  text-align: center;
  list-style-position: inside;
}